[tool.poetry]
name = "envoy_data_plane"
version = "0.3.0"
description = "Python dataclasses for the Envoy Data-Plane-API"
authors = ["Vasili Syrakis <vsyrakis@atlassian.com>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "envoy_data_plane", from = "src", format = "sdist" }
]

[tool.poetry.dependencies]
python = "^3.7"
betterproto = "^2.0.0b3"
grpcio-tools = "^1.43.0"

[tool.poetry.dev-dependencies]
requests = "^2.25.1"
structlog = "^21.1.0"
protobuf = "^3.15.6"
pytest = "^6.2.2"
pytest-spec = "^3.1.0"
grpcio = "^1.36.1"
grpcio-tools = "^1.36.1"
betterproto = {version = "^2.0.0b3", extras = ["compiler"]}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
