name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt -y install build-essential python3-dev g++ libprotobuf-dev cmake
        python -m pip install --upgrade pip setuptools
        python -m pip install uv
    - name: Compile Protobufs
      run: |
        uv build
    - name: Install the package
      run: |
        uv sync
    - name: Unit tests
      run: |
        uv run vedro
    - name: Build and publish
      env:
        PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        uv publish --username $PYPI_USERNAME --password $PYPI_PASSWORD
